<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	
	<meta name="author" content="NineFour.co.uk" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/apple_touch_icon.png" />
	
	<title>{if embed:title}{embed:title}{if:else}{site_name}{/if}</title>
	
	{exp:minimee:css}
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="/assets/css/bootstrap-responsive.min.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="/assets/css/screen.css" media="screen" type="text/css" />
	{/exp:minimee:css}
    
    <!--[if lt IE 9]>
    	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    	<link rel="stylesheet" href="/assets/css/ie.css" media="screen" type="text/css" />
    <![endif]-->
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    {exp:minimee:js}
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/common.js"></script>
	{/exp:minimee:js}
	
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '{g_analytics_id}']);
	  _gaq.push(['_setDomainName', '{g_analytics_domain}']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>

</head>